body {
    background-color: rgb(72, 175, 203);
    text-align: center;
    padding-bottom: 10px;
}

.counter {
    padding: 20px;
    font-size: 50px;
    font-weight: 100;
}

.errorMessage {
    color: red;
    font-weight: bolder;
    font-size: larger;
}

.green {
    color: green;
    font-size: xx-large;
}

.red {
    color: red;
    font-size: xx-large;
}

button {
    box-shadow: 0 0 1rem black;
    transition: 5s ease;
}

button:hover {
    box-shadow: none;
}